@import 'App';

.feed-item {
  background-color: $white-50-transparent;
  // background-color: rgba(128, 128, 128, 0.152);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 7px $gray-50-transparent;
  display: flex;
 
  flex-direction: column;
  align-items: start;
  gap: 1em;
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-.5px);
  }
}
.user-name {
  font-size: 16px;
  font-weight: bolder;
}
.text-body {
  font-size: 15px;
  padding: 0px;
  border-radius: 3px;
}

.tech-rating {
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: 15px;
}

.stars-container {
  display: flex;
  align-items: center;
}

.star {
  font-variation-settings: 'FILL' 1;
  font-size: 1em;
  color: blue;
  text-shadow: 0px 0px 4px $gray-50-transparent;
}
