@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
  font-family: 'Roboto';
  font-weight: bold;

  /* Center the Popup horizontally and vertically */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001; /* Adjust this value as needed */

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
    height: 10rem;
    width: 20rem;
    padding: 10px;
    line-height: 1.5 /* Set padding to 0 */
}

.add {
    align-self: flex-start;
}

.submit {
    align-self: flex-end;
    font-family: 'Roboto';
    cursor: pointer;
}

.input2-container {
    display: flex;
    align-items: center; /* Vertically center the elements within the container */
  }


  .submit2 {
    cursor: pointer;
  }  

.add {
    cursor: pointer;
}

input[type=radio]{
    display:none;
}

.star {
    cursor:pointer;
}



